menu_item:main:Sync Highlights to WebDAV:nickel_wifi:autoconnect_silent
chain_success:cmd_output:9999:/mnt/onboard/.adds/go-kobo-sync/sync_highlights.sh
menu_item:main:Install Highlight Sync Handler:cmd_spawn:cp /mnt/onboard/.adds/go-kobo-sync/97-synchighlights.rules /etc/udev/rules.d/
menu_item:main:Uninstall Highlight Sync Handler:cmd_spawn:rm /etc/udev/rules.d/97-synchighlights.rules
